{{ define "main" }}
<div class="hero hero-inner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto text-center">
                <div class="intro-wrap">
                    <h1 class="mb-0">Himachal Tour
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="untree_co-section" id="3Night4days">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="owl-single dots-absolute owl-carousel">
                    <img style="height: 400px;" src="/images/Chamba-Tour-Package.jpg" alt="Free HTML Template by Untree.co" class="img-fluid rounded-20">
                    <img style="height: 400px;" src="/images/Dharamshala-Tour-Package.jpg" alt="Free HTML Template by Untree.co" class="img-fluid rounded-20">
                    <img style="height: 400px;" src="/images/Grand-Himachal-Tour.jpg" alt="Free HTML Template by Untree.co" class="img-fluid rounded-20">
                    <img style="height: 400px;" src="/images/jim-corbet-tour.jpg" alt="Free HTML Template by Untree.co" class="img-fluid rounded-20">
                    <img style="height: 400px;" src="/images/kashmir-tour.jpg" alt="Free HTML Template by Untree.co" class="img-fluid rounded-20">
                </div>
            </div>
            <div class="col-lg-5 pl-lg-5 ml-auto">
                <h2 class="section-title mb-4">3 Night 4 days Tour</h2>
                <p><b>Chandigarh to jibhi ,tirthanvally Tour</b></p>
                <p><b>Day 1:</b> Chandigarh to jibhi , pickup from Chandigarh railway station or airport and proceed to jibhi and night stay in jibhi
                </p>
                <p><b>Day 2:</b> After breakfast go for local sightseen jibhi waterfall and chinifort and chowo waterfall and night stay in hotel </p>
                <p><b>Day 3:</b> After breakfast go for jaloripass altitude 12000 and go for trekking salosar lake and evening jibhi market and night stay in hotel</p>
                <p><b>Day 4:</b> Jibhi to Chandigarh.After breakfast leave for Chandigarh and drop at Chandigarh railway station or airport with sweet memories</p>
            </div>
        </div>
    </div>
</div>


<div class="untree_co-section" id="5Night6days">
    <div class="container">
        <div class="row justify-content-between align-items-center">



            <div class="col-lg-5">

                <h2>05 nights 06 Days</h2>
                <p><b>Day1:-Chandigarh to shimla (120kms)
                </b></p>
                <p>Pickup from Chandigarh and transfer to shimla hotel.Enroute visit Pinjore gardens, Evening visit mall road area if time permits Night shimla
                </p>
                <p><b>Day 2:-Shimla local sightseeing </b></p>
                <p>After Breakfast proceed to Shimla Local sightseeing.Kufri,High altitude zoo,christ church and mall road Night shimla
                </p>
                <p><b>Day 3:-Shimla to Manali (260)</b></p>
                <p>After Breakfast proceed to Manali via mandi. On the way you can do activities in the river with river rafting and also you can do paragliding and night stay in manali
                </p>
                <p><b>Day 4:- Manali - Local sightseen - Manali </b></p>
                <p>After Breakfast visit Local sightseen Hadimba temple, vashisht temple hot water springs and Mall road and night stay in hotel</p>
                <p><b>Day 5:-Manali -sollang valley - manali</b></p>
                <p>After Breakfast visit in solang valley enjoy adventures sports activities in snow and night stay in hotel </p>
                <p><b>Day 6 :-Manali to Chandigarh </b></p>
                <p>After Breakfast proceed for Chandigarh railway station or airport,tour end with joyful memories With Hare Krishna tours and travels
                </p>
                <p><a href="#" class="btn btn-primary">Get Started</a></p>
            </div>
            <div class="col-lg-6">
                <img src="/images/img_2.jpg" alt="Image" class="img-fluid rounded-20">
            </div>
        </div>
    </div>
</div>


<div class="untree_co-section" id="6Night7days">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-6">
                <h2 class="section-title text-center mb-3">Himachal Kinnaur valley Tour</h2>
                <h5>06nights 07 Days</h5>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="owl-carousel owl-3-slider">

                    <div class="item">
                        <a class="media-thumb" href="/images/kashmir-tour.jpg" data-fancybox="gallery">
                            <!-- <div class="media-text">
                                <h3>Shimla & Manali</h3>
                                <span class="location">Italy</span>
                            </div> -->
                            <img style="height: 300px;" src="/images/kashmir-tour.jpg" alt="Image" class="img-fluid">
                        </a>
                    </div>

                    <div class="item">
                        <a class="media-thumb" href="/images/Chamba-Tour-Package.jpg" data-fancybox="gallery">
                            <!-- <div class="media-text">
                                <h3>Leh Ladakh</h3>
                                <span class="location">Greece</span>
                            </div> -->
                            <img style="height: 300px;" src="/images/Chamba-Tour-Package.jpg" alt="Image" class="img-fluid">
                        </a>
                    </div>

                    <div class="item">
                        <a class="media-thumb" href="/images/Dharamshala-Tour-Package.jpg" data-fancybox="gallery">
                            <!-- <div class="media-text">
                                <h3>Spiti Valley</h3>
                                <span class="location">Malaysia</span>
                            </div> -->
                            <img style="height: 300px;" src="/images/Dharamshala-Tour-Package.jpg" alt="Image" class="img-fluid">
                        </a>
                    </div>


                    <div class="item">
                        <a class="media-thumb" href="/images/Grand-Himachal-Tour.jpg" data-fancybox="gallery">
                            <!-- <div class="media-text">
                                <h3>Chardham Yatra</h3>
                                <span class="location">Italy</span>
                            </div> -->
                            <img style="height: 300px;" src="/images/Grand-Himachal-Tour.jpg" alt="Image" class="img-fluid">
                        </a>
                    </div>


                </div>
            </div>
            <div class="col-lg-12 col-12 mt-4">


                <p><b>Day1:-Chandigarh to shimla (120kms)
                </b></p>
                <p>Pickup from Chandigarh and transfer to shimla hotel.Enroute visit Pinjore gardens, Evening visit mall road area if time permits Night shimla
                </p>
                <p><b>Day 2:-Shimla to sarhan</b></p>
                <p>Shimla local sightseeing After Breakfast proceed to Shimla Local sightseeing.Kufri,High altitude zoo, adventure activities in kufri ,and in the evening visit in Famous Bheem kalli temple Night stay in Sarhan hotel
                </p>
                <p><b>Day 3:-Sarhan to Sangla valley </b></p>
                <p>After Breakfast proceed to Sangla valley And in the evening visit in Famous Kamru Naag temple and Kamru Fort Night stay in hotel

                </p>
                <p><b>Day 4:- Sangla to Chitkul and sangla</b></p>
                <p>After Breakfast visit for chitukul the last village of india and also visit in the chitkul temple and river side Night stay in Sarhan
                </p>
                <p><b>Day 5:-Chitkul to kalpa </b></p>
                <p>After Breakfast proceed to kalpa.Enroute visit karcham dam and also visit in chinni banglow And night stay in hotel kalpa
                </p>
                <p><b>Day 6 :-kalpa local sightseen</b></p>
                <p>AAfter Breakfast visit in local sightseen,Chini banglow, Suicide point and rohgi village Night stay in hotel kalpa
                </p>

                <p><b>Day 7:- Kalpa to Chandigarh</b></p>
                <p>After Breakfast proceed for Chandigarh railway station or Chandigarh airport. tour end with joyful memories</p>
            </div>
        </div>
    </div>
</div>

<div class="untree_co-section" id="9Night10days">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 class="section-title text-center mb-3">09 nights 10 Days
                </h2>
            </div>
        </div>
        <div class="row align-items-stretch">

            <div class="col-lg-4 col-12 order-lg-1">
                <div class="h-100">
                    <div class="frame h-100">
                        <div class="feature-img-bg h-100" style="background-image: url('/images/hero-slider-1.jpg');"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 feature-1-wrap d-md-flex flex-md-column order-lg-1">

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <p><b>Day1:-Chandigarh to shimla (120kms)</b></p>
                        <p>Pickup from Chandigarh and transfer to shimla hotel.Enroute visit Pinjore gardens, Evening visit mall road area if time permits Night shimla
                        </p>
                        <p><b>Day 2:-Shimla local sightseeing</b></p>
                        <p>After Breakfast proceed to Shimla Local sightseeing.Kufri,High altitude zoo,christ church and mall road Night shimla
                        </p>
                        <p><b>Day 3:-Shimla to Manali (260)</b></p>
                        <p>After Breakfast proceed to Manali via mandi. On the way you can do activities in the river with river rafting and also you can do paragliding and night stay in manali </p>
                        <p><b>Day 4:- Manali - Local sightseen - Manali </b></p>
                        <p>After Breakfast visit Local sightseen Hadimba temple, vashisht temple hot water springs and Mall road and night stay in hotel
                        </p>
                        <p><b>Day 5:-Manali -sollang valley - manali</b></p>
                        <p>After Breakfast visit in solang valley enjoy adventures sports activities in snow and night stay in hotel </p>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 feature-1-wrap d-md-flex flex-md-column order-lg-3">

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <p><b>Day 6 :-Manali to Dharamshala (240)</b></p>
                        <p>After Breakfast proceed to Dharmshala, Enroute visit famous Tea garden ,Baij nath temple and night stay in hotel </p>
                        <p><b>Day 7:- Dharamshala to Dalhousie (120)</b></p>
                        <p>After Breakfast proceed to Dharmshala local sightseen bhagsunath temple and waterfall and after that HPCA Cricket stadium Dharamshala and afternoon go for Dalhousie and night stay in hotel
                        </p>
                        <p><b>Day8:- Dalhousie -khaijjiar-Dalhousie
                        </b></p>
                        <p>After Breakfast proceed to Khaijjiar, Local sightseen subhash bowli,panchpula and night in hotel</p>
                        <p><b>Day 9:-Dalhousie to amritsar (200kms.)</b></p>
                        <p>After Breakfast proceed towards amritsar.Evening visit.check in at amritsar hotel. Night -Amritsar
                        </p>
                        <p><b>Day 10:- Amritsar Local sightseen </b></p>
                        <p>Full day Local sightseen.visit Golden temple,Jalianwala bhag ,and shopping in the evening drop at Amritsar railway station or Amritsar airport.Tour end with joyful memories with hare Krishna tour and travel </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="untree_co-section" id="11Night12days">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 class="section-title text-center mb-3">Himachal Spiti valley(Kazza) Tour</h2>
                <h5>11nights 12Days</h5>
            </div>
        </div>
        <div class="row align-items-stretch">


            <div class="col-lg-4 col-12 feature-1-wrap d-md-flex flex-md-column order-lg-1">

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <p><b>Day1:-Chandigarh to shimla (120kms)</b></p>
                        <p>Pickup from Chandigarh and transfer to shimla hotel.Enroute visit Pinjore gardens, Evening visit mall road area if time permits Night shimla
                        </p>
                        <p><b>Day 2:-Shimla to sarhan</b></p>
                        <p>Shimla local sightseeing After Breakfast proceed to Shimla Local sightseeing.Kufri,High altitude zoo, adventure activities in kufri ,and in the evening visit in Famous Bheem kalli temple Night stay in Sarhan hotel
                        </p>
                        <p><b>Day 3:-Sarhan to Sangla valley</b></p>
                        <p>After Breakfast proceed to Sangla valley And in the evening visit in Famous Kamru Naag temple and Kamru Fort Night stay in hotel
                        </p>
                    </div>
                </div>

                <div class="feature-1 ">
                    <div class="align-self-center">
                        <p><b>Day 4:- Sangla to Chitkul and sangla</b></p>
                        <p>After Breakfast visit for chitukul the last village of india and also visit in the chitkul temple and river side Night stay in Sarhan
                        </p>
                        <p><b>Day 5:-Chitkul to kalpa</b></p>
                        <p>After Breakfast proceed to kalpa.Enroute visit karcham dam and also visit in chinni banglow And night stay in hotel kalpa
                        </p>
                        <p><b>Day 6 :-kalpa local sightseen</b></p>
                        <p>After Breakfast visit in local sightseen,Chini banglow, Suicide point and rohgi village Night stay in hotel kalpa
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-12 order-lg-1">
                <div class="h-100">
                    <div class="frame h-100">
                        <div class="feature-img-bg h-100" style="background-image: url('/images/hero-slider-5.jpg');"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 feature-1-wrap d-md-flex flex-md-column order-lg-3">

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <p><b>Day 7:- Kalpa to Taboo</b></p>
                        <p>After breakfast proceed to tabbo On the way visit in nako monastery,nako lake and after that leave for Gue mummy and after that visit in tabo monastery and night stay in tabo
                        </p>
                        <p><b>Day 8:-Tabo to kazza</b></p>
                        <p>After breakfast proceed to kazza on the way visit in Dhankar monastery and night stay in kazza</p>
                        <p><b>Day 9:- kazza local sightseen</b></p>
                        <p>After breakfast proceed for local sightseen in spiti valley,Hikkim village, Langza village and komic village and night stay in kazza</p>
                    </div>
                </div>

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <p><b>Day 10 :-Kazza to Losar </b></p>
                        <p>After breakfast proceed to Losar on the way key monastery,kibber village after that world highest Chicham Bridge and night stay in Losar</p>
                        <p><b>Day 11:-Losar to manali
                        </b></p>
                        <p>After breakfast proceed to manali on the way visit in Kunzum pass and after that visit in Chandertal lake if road is open and night stay in manali </p>
                        <p><b>Day 12 -Manali to Chandigarh</b></p>
                        <p>After breakfast proceed to Chandigarh railway station or Chandigarh airport with sweet memories</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>





<div class="untree_co-section testimonial-section mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <h2 class="section-title text-center mb-5">Testimonials</h2>

                <div class="owl-single owl-carousel no-nav">
                    <div class="testimonial mx-auto">
                        <figure class="img-wrap">
                            <img src="/images/person_2.jpg" alt="Image" class="img-fluid">
                        </figure>
                        <h3 class="name">Memorable Trip!</h3>
                        <blockquote>
                            <p>&ldquo;Kalra Travels made our Chardham Yatra unforgettable. Excellent service and a well-planned itinerary!&rdquo;</p>
                        </blockquote>
                        <p><b>Pooja</b></p>
                    </div>

                    <div class="testimonial mx-auto">
                        <figure class="img-wrap">
                            <img src="/images/Rohit-saini.svg" alt="Image" class="img-fluid">
                        </figure>
                        <h3 class="name">Best Travel Experience</h3>
                        <blockquote>
                            <p>&ldquo;From booking to the trip itself, everything was smooth and hassle-free. Highly recommend!&rdquo;</p>
                        </blockquote>
                        <p><b>Rohit Saini</b></p>
                    </div>

                    <div class="testimonial mx-auto">
                        <figure class="img-wrap">
                            <img src="/images/neha.webp" alt="Image" class="img-fluid">
                        </figure>
                        <h3 class="name">Exceptional Service</h3>
                        <blockquote>
                            <p>&ldquo;The team ensured we had a comfortable journey throughout our Himachal tour. Truly amazing!&rdquo;</p>
                        </blockquote>
                        <p><b>Neha</b></p>
                    </div>
                    <div class="testimonial mx-auto">
                        <figure class="img-wrap">
                            <img src="/images/Rakesh.jpeg" alt="Image" class="img-fluid">
                        </figure>
                        <h3 class="name">Perfectly Organized</h3>
                        <blockquote>
                            <p>&ldquo;Our Leh Ladakh adventure was perfectly organized, with attention to every detail. Loved it!&rdquo;</p>
                        </blockquote>
                        <p><b>Rakesh</b></p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="py-5 cta-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="mb-2 text-white">Let Us Help You Explore the Best</h2>
                <p class="mb-4 lead text-white text-white-opacity">Ready to discover the world? Contact Kalra Travels now and start your adventure!</p>
                <p class="mb-0"><a href="/" class="btn btn-outline-white text-white btn-md font-weight-bold">Get in touch</a></p>
            </div>
        </div>
    </div>
</div>
{{end}}