<div class="site-footer">
    <div class="inner first">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="widget">
                        <h3 class="heading">About Tour</h3>
                        <p>Since 2013, Kalra Travels has been making journeys safe, comfortable, and unforgettable. Serving Kurukshetra, Ambala, Chandigarh, Yamunanagar, Pehowa, Ladwa & Shahabad, we offer 24x7 Airport Pick & Drop and One-Way Services.</p>
                    </div>
                    <div class="widget">
                        <ul class="list-unstyled social">
                            <li><a href=""><span class="icon-instagram"></span></a></li>
                            <li><a href=""><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-youtube-play"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 pl-lg-5">
                    <div class="widget">
                        <h3 class="heading">Pages</h3>
                        <ul class="links list-unstyled">
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/services">Services</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="widget">
                        <h3 class="heading">Tour</h3>
                        <ul class="links list-unstyled">
                            <li><a href="/himachal-tour">Himachal Tours</a></li>
                            <li><a href="/leh-ladakh">Leh Ladakh</a></li>
                            <li><a href="/yatra">Yatra</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="widget">
                        <h3 class="heading">Contact</h3>
                        <ul class="list-unstyled quick-info links">
                            <li class="email"><a href="#">kalratravels@gmail.com</a></li>
                            <li class="phone"><a href="#">80594-45600</a></li>
                            <li class="phone"><a href="#">99969-99812</a></li>
                            <li class="address"><a href="#">Address: Barara Road, Babain, Kurukshetra </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{- partial "script.html" . -}}


</body>

</html>