<nav class="site-nav">
    <div class="container">
        <div class="site-navigation">
            <a href="/" class="logo m-0">Kalra Travels <span class="text-primary">.</span></a>

            <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>

                <li class="has-children">
                    <a href="#">Tours</a>
                    <ul class="dropdown">
                        <li class="has-children">
                            <a href="#">Himachal Tours</a>
                            <ul class="dropdown">
                                <li><a href="/himachal-tour#3Night4days">3 Night 4 days Tour</a></li>
                                <li><a href="/himachal-tour#5Night6days">05 nights 06 Days</a></li>
                                <li><a href="/himachal-tour#6Night7days">06nights 07 Days</a></li>
                                <li><a href="/himachal-tour#9Night10days">09 nights 10 Days</a></li>
                                <li><a href="/himachal-tour#11Night12days">11nights 12Days</a></li>

                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Leh Ladakh</a>
                            <ul class="dropdown">
                                <li><a href="/leh-ladakh#10night11days">10night  11 days</a></li>
                                <li><a href="/leh-ladakh#11Night12days">11 night  12 days</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Yatra</a>
                            <ul class="dropdown">
                                <li><a href="/yatra#ShreeKhatuShyamji">Shree Khatu Shyam ji</a></li>
                                <li><a href="/yatra#varindavan">Varindavan</a></li>
                                <li><a href="/yatra#ChardhamYatra">Chardham Yatra</a></li>
                                <li><a href="/yatra#KedarnathBadrinath">2 Dham Kedarnath , Badrinath</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-children">
                    <a href="#">Gallery</a>
                    <ul class="dropdown">
                        <li class="has-children">
                            <a href="/photo-gallery">Photo Gallery</a>
                        </li>
                        <li class="has-children">
                            <a href="/video-gallery">video Gallery</a>
                        </li>
                    </ul>
                </li>

                <!-- <li><a href="/photo-gallery">Gallery</a></li> -->

                <li><a href="/contact">Contact Us</a></li>
            </ul>

            <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>

            <a href="https://api.whatsapp.com/send?text=Hello! I'm looking for Thanks!&amp;phone=+91 8968029170" target="_" class="whatsapp_float"><img src="/images/whatsapp.svg" alt="whatsapp"></a>

        </div>
    </div>
</nav>