{{ define "main" }}
<div class="hero hero-inner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto text-center">
                <div class="intro-wrap">
                    <h1 class="mb-0">Himachal Tour
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="untree_co-section" id="10night11days">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 class="section-title text-center mb-3">10night 11 days
                </h2>
            </div>
        </div>
        <div class="row align-items-stretch">

            <div class="col-lg-4 col-12 order-lg-1">
                <div class="h-100">
                    <div class="frame h-100">
                        <div class="feature-img-bg h-100" style="background-image: url('/images/leh-ladakhbliss.jpg');"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 feature-1-wrap d-md-flex flex-md-column order-lg-1">

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <p><b>Day 1:-</b> Pick from Chandigarh railway or airport and proceed to manali on the way you can do river rafting on your own expensive and also visit in mini vaishno devi temple and night stay in manali</p>
                        <p><b>Day 2:- Manali local sightseen</b> </p>
                        <p><b>Day 1:-</b> After breakfast proceed to manali local sightseen,Hadimba devi temple, vasisth temple (Hot water springs) and evening time in Mall road And night stay in hotel
                        </p>
                        <p><b>Day 3:-Manali to Sarchu</b> After breakfast proceed to Sarchu on the way visit in solang valley,Atal tunnel and sisu after that leave for Sarchu and on the way you can see Baralacha pass , Deepak Tal , Suraj Tal And night stay
                            in Sarchu camp
                        </p>
                        <p><b>Day 4:- Sarchu to Leh</b> After breakfast proceed to Leh and on the way visit on namkila pass, Tang langa pass and night stay in Leh</p>
                        <p><b>Day 5:-</b> Cab stoped leh hotel and Leh sightseen is on your own expensive because their is only allowed sightseeing with Leh taxi cabs</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 feature-1-wrap d-md-flex flex-md-column order-lg-3">

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <p><b>Day 6:-</b> Cab stoped leh hotel and Leh sightseen is on your own expensive because their is only allowed sightseeing with Leh taxi cabs</p>
                        <p><b>Day 7:-</b> Cab stoped leh hotel and Leh sightseen is on your own expensive because their is only allowed sightseeing with Leh taxi cabs</p>
                        <p><b>Day 8:-</b> Cab stoped leh hotel and Leh sightseen is on your own expensive because their is only allowed sightseeing with Leh taxi cabs</p>
                        <p><b>Day 9:- Leh to Sarchu</b> After breakfast proceed to Sarchu and night stay in Sarchu</p>
                        <p><b>Day 10:-Sarchu to manali</b> After breakfast proceed to Manali and night stay in manali hotel</p>
                        <p><b>Day 11:- manali to Chandigarh </b> After breakfast proceed to Chandigarh railway station or Chandigarh airport with sweet memories in the end of tour with Hare Krishna tour and travel
                        </p>
                        <br>
                        <br>
                        <br>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="untree_co-section" id="11Night12days">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 class="section-title text-center mb-3">Leh Ladakh</h2>
                <h5>11 night 12 days</h5>
            </div>
        </div>
        <div class="row align-items-stretch">


            <div class="col-lg-4 col-12 feature-1-wrap d-md-flex flex-md-column order-lg-1">

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <p><b>Day 1:-</b> Pick from Chandigarh railway or airport and proceed to manali on the way you can do river rafting on your own expensive and also visit in mini vaishno devi temple and night stay in manali</p>
                        <p><b>Day 2:- Manali local sightseen</b> After breakfast proceed to manali local sightseen,Hadimba devi temple, vasisth temple (Hot water springs) and evening time in Mall road And night stay in hotel
                        </p>
                        <p><b>Day 3:-Manali to Sarchu</b> After breakfast proceed to Sarchu on the way visit in solang valley,Atal tunnel and sisu after that leave for Sarchu and on the way you can see Baralacha pass , Deepak Tal , Suraj Tal And night stay
                            in Sarchu camp
                        </p>

                    </div>
                </div>

                <div class="feature-1 ">
                    <div class="align-self-center">
                        <p><b>Day 4:- Sarchu to Leh</b> After breakfast proceed to Leh and on the way visit on namkila pass, Tang langa pass and night stay in Leh
                        </p>
                        <p><b>Day 5:-</b> Cab stoped leh hotel and Leh sightseen is on your own expensive because their is only allowed sightseeing with Leh taxi cabs</p>
                        <p><b>Day 6:-</b> Cab stoped leh hotel and Leh sightseen is on your own expensive because their is only allowed sightseeing with Leh taxi cabs</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-12 order-lg-1">
                <div class="h-100">
                    <div class="frame h-100">
                        <div class="feature-img-bg h-100" style="background-image: url('/images/ladakh-india.jpg');"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 feature-1-wrap d-md-flex flex-md-column order-lg-3">

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <p><b>Day 7:-</b> Cab stoped leh hotel and Leh sightseen is on your own expensive because their is only allowed sightseeing with Leh taxi cabs</p>
                        <p><b>Day 8:-</b> Cab stoped leh hotel and Leh sightseen is on your own expensive because their is only allowed sightseeing with Leh taxi cabs</p>
                        <p><b>Day 9:- Leh to kargil</b> After breakfast proceed for kargil on the way visit in Pathar Sahib Guru Dawara and Sangam point and also visit in Magnetic hills and night stay in kargil</p>
                    </div>
                </div>

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <p><b>Day 10:- Kargil to Srinagar</b> After breakfast proceed to Srinagar on the way visit in kargil war memorial and zozila pass zero point and also visit in valley of Kashmir Sonmarg and night stay in Srinagar</p>
                        <p><b>Day 11:- Srinagar local sightseen</b> After breakfast proceed to local sightseen Shankra Charya temple, Nishat Garden, Shalimar garden, Chashme Shahi Garden and in evening dal lake and enjoy the chikara ride And night stay in
                            hotel
                        </p>
                        <p><b>Day 12:- Srinagar airport or Jammu railway station drop</b> After breakfast proceed to Srinagar airport or Jammu railway any way you can drop with sweet memories
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>





<div class="untree_co-section testimonial-section mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <h2 class="section-title text-center mb-5">Testimonials</h2>

                <div class="owl-single owl-carousel no-nav">
                    <div class="testimonial mx-auto">
                        <figure class="img-wrap">
                            <img src="/images/person_2.jpg" alt="Image" class="img-fluid">
                        </figure>
                        <h3 class="name">Memorable Trip!</h3>
                        <blockquote>
                            <p>&ldquo;Kalra Travels made our Chardham Yatra unforgettable. Excellent service and a well-planned itinerary!&rdquo;</p>
                        </blockquote>
                        <p><b>Pooja</b></p>
                    </div>

                    <div class="testimonial mx-auto">
                        <figure class="img-wrap">
                            <img src="/images/Rohit-saini.svg" alt="Image" class="img-fluid">
                        </figure>
                        <h3 class="name">Best Travel Experience</h3>
                        <blockquote>
                            <p>&ldquo;From booking to the trip itself, everything was smooth and hassle-free. Highly recommend!&rdquo;</p>
                        </blockquote>
                        <p><b>Rohit Saini</b></p>
                    </div>

                    <div class="testimonial mx-auto">
                        <figure class="img-wrap">
                            <img src="/images/neha.webp" alt="Image" class="img-fluid">
                        </figure>
                        <h3 class="name">Exceptional Service</h3>
                        <blockquote>
                            <p>&ldquo;The team ensured we had a comfortable journey throughout our Himachal tour. Truly amazing!&rdquo;</p>
                        </blockquote>
                        <p><b>Neha</b></p>
                    </div>
                    <div class="testimonial mx-auto">
                        <figure class="img-wrap">
                            <img src="/images/Rakesh.jpeg" alt="Image" class="img-fluid">
                        </figure>
                        <h3 class="name">Perfectly Organized</h3>
                        <blockquote>
                            <p>&ldquo;Our Leh Ladakh adventure was perfectly organized, with attention to every detail. Loved it!&rdquo;</p>
                        </blockquote>
                        <p><b>Rakesh</b></p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="py-5 cta-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="mb-2 text-white">Let Us Help You Explore the Best</h2>
                <p class="mb-4 lead text-white text-white-opacity">Ready to discover the world? Contact Kalra Travels now and start your adventure!</p>
                <p class="mb-0"><a href="/" class="btn btn-outline-white text-white btn-md font-weight-bold">Get in touch</a></p>
            </div>
        </div>
    </div>
</div>
{{end}}